@model IEnumerable<Pirettech.Pubs.WebApp.Models.Autor>

@{
    ViewBag.Title = "Autor";
}

<h2>Autor</h2>

<p>
    @Html.ActionLink("Cadastrar", "Cadastrar", null, new { @class = "btn btn-primary btn-sm" })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCompleto)
        </td>
        <td>
            @Html.ActionLink("Livro por autor", "LivrosPorAutor", new { id = item.AutorId }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Editar", "Edit", new { id = item.AutorId }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Detalhes", "DetalhesAutor", new { id = item.AutorId }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.AutorId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
